.project-readme [data-rehype-pretty-code-figure] pre > code {
  counter-reset: line;
}

.project-readme [data-rehype-pretty-code-figure] pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2rem;
  margin-right: 1rem;
  padding-right: 0.5rem;
  border-right: 1px solid var(--site-border);
  text-align: right;
  color: var(--site-muted);
  user-select: none;
}

span[data-rehype-pretty-code-figure] > code {
  padding: 0 0.5rem;
  border-radius: var(--site-radius);
}
