[data-rehype-pretty-code-figure]>pre>code {
  counter-reset: line;
}

[data-rehype-pretty-code-figure]>pre>code>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

span[data-rehype-pretty-code-figure]>code {
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}